{% extends 'masterpage.html' %}

{% block pageTitle %}Permissions <p class="text-right create-btn"><a href="/admin/permissions/create" class="btn btn-primary">Create Permission</a></p>{% endblock %}
{% block pageName %}Permissions{% endblock %}

{% block content %}
{% if permissions %}
<div class="table">
    <table class="table">
        <thead>
            <tr>
                <th>Group name</th>
                <th>Access to route</th>
                <th>Route name</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
			{% for permission in permissions %}
            <tr>
				<td><a href="/admin/groups/{{permission.group_id}}">{{ groups[permission.group_id].name }}</a></td>
                <td>
                {% if "access_route" in permission.perms %}
                    <i class="fa fa-check text-success" aria-hidden="true"></i>
                {% else %}
                    <i class="fa fa-minus text-danger" aria-hidden="true"></i>
                {% endif %}
                </td>
				<td>{{ permission.route }}</td>
				<td>
                    <div class="btn-group">
                      <button aria-expanded="false" data-toggle="dropdown" class="btn btn-default dropdown-toggle waves-effect waves-light btn-xs" type="button">Actions<span class="caret"></span></button>
                      <ul role="menu" class="dropdown-menu">
                        <li><a href="/admin/permissions/{{ permission.id }}/edit">Edit</a></li>
                        <li><a href="/admin/permissions/{{ permission.id }}/delete">Delete</a></li>
                      </ul>
                    </div>
                </td>
            </tr>
			{% endfor %}
        </tbody>
    </table>
</div>
{% endif %}{% endblock %}