{% extends 'masterpage.html' %}

{% block pageTitle %}Users <p class="text-right create-btn"><a href="/admin/users/create" class="btn btn-primary">Create User</a></p>{% endblock %}
{% block pageName %}Users{% endblock %}

{% block content %}
{% if users %}
<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>Login</th>
                <th>Email</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Active</th>
                <th>Verify</th>
                <th>Date register</th>
            </tr>
        </thead>
        <tbody>
			{% for user in users %}
            <tr>
				<td><a href="/admin/users/{{user.id}}">{{ user.id }}</a></td>
				<td><a href="/admin/users/{{user.id}}">{{ user.username }}</a></td>
				<td>{{ user.email }}</td>
				<td>{{ user.first_name }}</td>
				<td>{{ user.last_name }}</td>
				<td>{{ user.active }}</td>
				<td>{{ user.verified }}</td>
				<td>{{ user.created_at }}</td>
            </tr>
			{% endfor %}
        </tbody>
    </table>
</div>
{% endif %}{% endblock %}