.row.form-group label{
	line-height: 2.4em;
}
.create-btn{
	display: inline-block;
    float: right;
}
.flash-messages{
    overflow-y: auto;
    float: left;
    width: 63%;
    height: 51px;
    overflow-x: unset;
}
.alert:last-child{
	margin-bottom: 0;
}